{% extends 'app.html' %}
{% block content %}



<div class="p-2">
   
    <div class="row g-2">
        <div class="col-3">
            <!-- addnew  -->
            <div class="card" style="height: 100%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="fs-5 fw-bold">Add Capstone Project</p>
                        </div>
                        <div class="col-6 text-center">
                            <i class="bi bi-plus-lg fw-bolder" style="font-size: 5em;"></i>
                        </div>
                    </div>
                </div>
                <a href="#" class="card-footer text-center mb-0" data-bs-toggle="modal" data-bs-target="#exampleModal">Click here to add title.</a>
            </div>
        </div>
        {% for i in range(20) %}
        <div class="col-3">
            <!-- Card Sample -->
            <div class="card" style="height: 100%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="fs-5 fw-bold">Some Amazing Thesis Title</p>
                        </div>
                        <div class="col-6">
                            <img src="https://picsum.photos/200" alt="" class="mw-100" style="height: auto;">
                        </div>
                    </div>
                </div>
                <a href="" class="card-footer text-center">More-info</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" id="title" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" row="30" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="videos" class="form-lavel">Images</label>
                    <input type="file" name="images" id="images" class="form-control" accept="image/*" multiple>
                </div>
                <!--  -->
                <div class="mb-3">
                    <label for="videos" class="form-lavel">Videos</label>
                    <input type="file" name="videos" id="videos" class="form-control" accept="video/*">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}