{% extends 'app.html' %}
{% block content %}



<div class="p-2">
    <div class="mt-5 mb-3">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPrjectModal">
            Add Project
        </button>
    </div>
    <div class="row gx-3 gy-3">
        {% for project in projects  %}
        <div class="col-3">
            <!-- Card Sample -->
            <div class="card mx-auto" style="width: 18rem" >
                <div class="d-flex justify-content-center video align-contents-center" style="width: 100% !important; height: 56.25%!important;">
                    <div class=""  style=" max-height: 56.25% !important;">
                       
                        <video style="width: 100%; height:100%" muted loop>
                            <source src="{{ url_for('stream.video', id=project.id)}}" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="card-body position-relative">
                    <div class="position-absolute top-0 end-0">
                        <form action="{{ url_for('web.delete', id=project.id) }}" method="post">
                            <button class="btn btn-outline-danger border-0 btn-sm"><i class="bi bi-trash3"></i></button>
                        </form>
                    </div>
                    <h5 class="card-title mt-3">{{ project.title }}</h5>
                    <p class="card-title text-truncate">{{ project.description }}</p>
                    
                    <div>
                        <a href="{{ url_for('web.generate', data=project.title)}}" class="btn btn-primary">Generate QR<i class="bi bi-qr-code ms-2"></i></a>
                        <a href="{{ url_for('web.edit', id=project.id)}}" class="btn text-primary btn-sm float-end my-auto"><i class="bi bi-pencil-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'modals.html' %}


{% endblock %}